.hide {
  display: none !important;
}

.zk-back-to-top {
  position: fixed;
  bottom: 40px;
  left: 15px;
  z-index: 1000;
  cursor: pointer;
}

.zk-back-to-top__btn--head {
  height: 0;
  width: 0;
  border-bottom: 30px solid #bbb;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.zk-back-to-top__btn--tail {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  margin: auto;
}

.zk-back-to-top__btn--tail:after {
  content: 'BACK';
  color: #bbb;
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: -15px;
}
